.box-title {
    width: 230px;
    height: 29px;
    left: 114px;
    top: 257px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #263238;
}

.flex {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
}