.container {
    display: flex;
}

.hello-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.profit {
    color: #0D7404;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 73px;
    letter-spacing: 0em;
}
.hello {
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 73px;
    letter-spacing: 0em;
}

.portfolioValue-subtitle {
    font-size: 16px;
    font-family: "Inter";
    color: #263238;
    font-weight: 400;
    opacity: 0.54;
    letter-spacing: 0.01em;
}
.portfolioValue-amount {
    font-size: 60px;
    font-family: "Inter";
    color: #0D7404;
    font-weight: 600;
}

.freeCash-subtitle {
    font-size: 16px;
    font-family: "Inter";
    color: #263238;
    font-weight: 400;
    opacity: 0.54;
    letter-spacing: 0.01em;
}
.freeCash-amount {
    font-size: 60px;
    font-family: "Inter";
    color: #0D7404;
    font-weight: 600;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 300px;
    margin: 20px;
    margin-left: 50px;
    height: 180px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    /* flex-flow: column wrap; */
    align-items: left;
    gap: 0px;
    /* height: 145px; */
    overflow: hidden;
}

.flex-col-main {
    display: flex;
    flex-direction: column;
    /* flex-flow: column wrap; */
    align-items: center;
    gap: 0px;
    /* height: 145px; */
    overflow: hidden;
}

/* .wrapper {
    overflow: hidden;
} */