.hello-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profit {
    color: #0D7404;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 73px;
    letter-spacing: 0em;
}
.hello {
    font-family: Inter;
    font-size: 60px;
    font-weight: 600;
    line-height: 73px;
    letter-spacing: 0em;
    margin-right: 12px;
}

.portfolioValue-subtitle {
    font-size: 16px;
    font-family: Inter;
    color: #263238;
    font-weight: 400;
    opacity: 0.54;
    letter-spacing: 0.01em;
}
.portfolioValue-amount {
    font-size: 60px;
    font-family: Inter;
    color: #0D7404;
    font-weight: 600;
}

.freeCash-subtitle {
    font-size: 16px;
    font-family: Inter;
    color: #263238;
    font-weight: 400;
    opacity: 0.54;
    letter-spacing: 0.01em;
}
.freeCash-amount {
    font-size: 60px;
    font-family: Inter;
    color: #0D7404;
    font-weight: 600;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.grey-box {
    margin: 24px;
    justify-content: space-around;
}

.main{
    margin: 48px
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.left-col {
    flex: 7 1 auto;
    margin-right: 24px;
}

.right-col {
    flex: 1 1 auto;
}

.securities-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    text-align: center;
}