.box{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.01), 0px 4px 8px rgba(0, 0, 0, 0.02), 0px 1px 12px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.sb-flex-col{
    display: flex;
    flex-direction: column;
    margin: 24px 0px 24px 24px;
}

.ticker{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 20px;
    margin: 24px 24px 24px 0px;

}

.name{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
}

.share{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.price{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
}
