
server/.env.example
*.example
client/src/.vscode/settings.json
.vscode/launch.json
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
MLTrading.iml
